# Git and Docker
.git
.gitignore
.dockerignore
Dockerfile*

# Dependencies
node_modules
apps/**/node_modules
libs/**/node_modules

# Build artifacts
dist
apps/**/dist
libs/**/dist

# Logs and environment files
*.log
.env

# Others
README.md
.prettierrc
eslint.config.mjs