NODE_ENV=development
PORT=4000
SERVER_URL=http://localhost:3001

INTERNAL_API_SECRET=your_internal_api_secret

CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRE=20m

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRE=1d
REFRESH_TOKEN_COOKIE_NAME=jid

# mongodb://localhost:27017/innogram to be locally
MONGODB_URI=mongodb://mongodb:27017/innogram

# REDIS_HOST=localhost to be run on docker
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:4000/innogram/auth/google-callback
GOOGLE_AUTH_INIT_REDIRECT_URL=http://localhost:3500/auth/google/initiate